@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* fonts */
  --font-general-sans: 'GeneralSans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji';
  --font-satoshi: 'Satoshi', ui-sans-serif, system-ui, sans-serif;

  /* color mapping */
  --color-t-default: var(--text-default);
  --color-t-inverse: var(--text-inverse);
  --color-t-muted: var(--text-muted);

  --color-bg-default: var(--background-default);
  --color-bg-primary: var(--background-primary);

  --color-icon-default: var(--icon-default);
  --color-icon-inverse: var(--icon-inverse);

  --color-border-default: var(--border-default);
  --color-border-inverse: var(--border-inverse);

  /* shadcn ui */
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* semantic colors */
  --text-default: oklch(0 0 0);
  --text-inverse: oklch(1 0 0);
  --text-muted: oklch(0 0 0 / 60%);
  --background-default: oklch(1 0 0);
  --background-primary: oklch(0 0 0);
  --icon-default: oklch(0 0 0);
  --icon-inverse: oklch(1 0 0);
  --border-default: oklch(0 0 0);
  --border-inverse: oklch(1 0 0 / 15%);

  /* shadcn ui */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@layer utilities {
  /* body text */
  .t-xsmall {
    @apply font-general-sans text-[0.75rem];
  }
  .t-small {
    @apply font-general-sans text-[0.875rem] leading-[160%];
  }
  .t-small-600 {
    @apply font-general-sans text-[0.875rem] leading-[160%] font-semibold;
  }
  .t-default {
    @apply font-general-sans text-[1rem] leading-[180%];
  }
  .t-default-600 {
    @apply font-general-sans text-[1rem] leading-[180%] font-semibold;
  }
  .t-medium {
    @apply font-general-sans text-[1.25rem];
  }
  .t-medium-500 {
    @apply font-general-sans text-[1.25rem] leading-[180%] font-medium;
  }
  .t-large-500 {
    @apply font-general-sans text-[1.375rem] leading-[180%] font-medium;
  }

  /* heading */
  .h-6 {
    @apply font-general-sans text-[1rem] font-semibold;
  }
  .h-5 {
    @apply font-general-sans text-[1.25rem] font-semibold;
  }
  .h-4 {
    @apply font-general-sans text-[1.5rem] leading-[120%] font-semibold;
  }
  .h-3 {
    @apply font-general-sans text-[2rem] leading-[120%] font-semibold;
  }
  .h-2 {
    @apply font-general-sans text-[3rem] leading-[120%] font-semibold;
  }
  .h-1 {
    @apply font-general-sans text-[4rem] leading-[120%] font-semibold;
  }

  /* hero / special headings */
  .h-small {
    @apply font-general-sans text-[4.5rem] leading-[110%] font-semibold;
  }
  .h-medium {
    @apply font-general-sans text-[5rem] leading-[110%] font-semibold;
  }
  .h-large {
    @apply font-general-sans text-[6.5rem] leading-[110%] font-semibold;
  }

  .h-3-uppercase {
    @apply leading-[110%] uppercase;
  }
  .h-large-uppercase {
    @apply uppercase;
  }
}
